<h3 class="account-title">{{'Reset your password' | translate}}</h3>

<div>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" novalidate>
        <div>
            <div>
                <input required type="hidden" placeholder=" " formControlName="code">
                <div *ngIf="resetPasswordForm.controls.code.touched && resetPasswordForm.controls.code.errors?.required" class="account-input-alert">
                    <span class="icon-svg-warning"></span>
                    <span class="text-danger field-validation-error">
                    <span>Could not find the code.</span>
                    </span>
                </div>
                <label class="account-input">
                    <input required type="text" placeholder=" " formControlName="email">
                    <span>{{ 'Email' | translate}}</span>
                </label>
                <div *ngIf="resetPasswordForm.controls.email.touched && resetPasswordForm.controls.email.errors?.required" class="account-input-alert">
                    <span class="icon-svg-warning"></span>
                    <span class="text-danger field-validation-error">
                    <span>Email required</span>
                    </span>
                </div>
                <div *ngIf="resetPasswordForm.controls.email.touched && resetPasswordForm.controls.email.errors?.email" class="account-input-alert">
                    <span class="icon-svg-warning"></span>
                    <span class="text-danger field-validation-error">
                  <span>Email format is not correct</span>
                    </span>
                </div>
                <label class="account-input">
                    <input required type="password" placeholder=" " formControlName="password" #password>
                    <span>{{ 'Password' | translate}}</span>
                    <i #eyeIcon class="fas fa-eye-slash" (click)="toggleEyeIcon(eyeIcon,password)"></i>
                </label>
                <div *ngIf="resetPasswordForm.controls.password.touched && resetPasswordForm.controls.password.errors?.required" class="account-input-alert">
                    <span class="icon-svg-warning"></span>
                    <span class="text-danger field-validation-error">
                    <span>Password required</span>
                    </span>
                </div>
                <div *ngIf="resetPasswordForm.controls.password.touched && resetPasswordForm.controls.password.errors?.minlength" class="account-input-alert">
                    <span class="icon-svg-warning"></span>
                    <span class="text-danger field-validation-error">
                    <span>Password must be of minimum length of 8.</span>
                    </span>
                </div>
                <div *ngIf="resetPasswordForm.controls.password.touched && resetPasswordForm.controls.password.errors?.maxlength" class="account-input-alert">
                    <span class="icon-svg-warning"></span>
                    <span class="text-danger field-validation-error">
                    <span>Password must be of maximum length of 50.</span>
                    </span>
                </div>
                <label class="account-input">
                    <input required type="password" placeholder=" " formControlName="confirmPassword" #confirmPassword>
                    <span>{{ 'Confirm Password' | translate}}</span>
                    <i #eyeIcon1 class="fas fa-eye-slash" (click)="toggleEyeIcon(eyeIcon1,confirmPassword)"></i>
                </label>
                <div *ngIf="resetPasswordForm.controls.confirmPassword.touched && resetPasswordForm.controls.confirmPassword.errors?.required" class="account-input-alert">
                    <span class="icon-svg-warning"></span>
                    <span class="text-danger field-validation-error">
                    <span>Confirm Password required</span>
                    </span>
                </div>
                <div *ngIf="resetPasswordForm.controls.confirmPassword.touched && resetPasswordForm.controls.confirmPassword.errors?.mustMatch" class="account-input-alert">
                    <span class="icon-svg-warning"></span>
                    <span class="text-danger field-validation-error">
                    <span>Password and Confirm Password must match</span>
                    </span>
                </div>

            </div>
            <div>
                <div class="submit-button-container">
                    <button type="submit" class="submit-button">
                        {{'Reset' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
