:host ::ng-deep .mat-form-field {
    width: 100%;
}

:host ::ng-deep .mat-form-field-underline {
    background-color: transparent;
    margin-bottom: -6px;
    /* background-image: none; */
    display: none;
}

:host ::ng-deep .mat-form-field-underline .mat-form-field-ripple {
    width: 98%;
    height: 2px;
    margin-left: 2px;
    margin-top: -2px;
    margin-bottom: 2px;
    background-color: #34579c !important;
}

 :host ::ng-deep .mat-form-field-prefix {
    width: 34%;
    color: #264686;
    font-weight: normal;
    font-family: "Arial" !important;
    font-size: 0.90em;
    padding-right: 4px;
    text-align: right;
    padding-top: 2px;
}

@media (max-width:1200px) {
     :host ::ng-deep .mat-form-field-prefix {
        font-size: 0.821em !important;
        width: 42%;
    }
     :host ::ng-deep .mat-form-field {
        font-size: 0.821em !important;
    }
     :host ::ng-deep .mat-form-field-label {
        margin-left: 7px !important;
        margin-top: 2px;
    }
     :host ::ng-deep .mat-form-field-label-wrapper {
        width: 90%;
        margin-left: 0px;
    }
}

 :host ::ng-deep .mat-form-field-element {
    width: 98% !important;
    height: 16px;
    display: block;
    margin-top: -2px !important;
    color: #5d5d5d
}

:host ::ng-deep .mat-select-trigger {
    background-color: #f8f8f8;
    height: 26px;
    margin-right: 2px;
    padding-left: 4px;
    border: solid 1px #c3c1c1;
    border-radius: 3px 3px;
}

:host ::ng-deep .mat-select-value {
    padding-top: 6px;
}

:host ::ng-deep .mat-select-value-text {
    color: #2f2e2e;
    margin-left: 10px;
}

:host ::ng-deep .mat-select-div {
    width: 100%;
    height: 26px;
}

:host ::ng-deep .mat-select-div-full {
    width: 100%;
    height: 26px;
}

:host ::ng-deep .mat-select-placeholder.mat-empty.mat-form-field-empty {
    display: block !important;
}

.mat-option.mat-selected {
    color: #34579c !important;
}

:host ::ng-deep .mat-form-field-label-wrapper {
    margin-left: 12px;
    font-size: 0px;
}

:host ::ng-deep .mat-focused .mat-form-field-placeholder {
    color: #34579c !important;
}

:host ::ng-deep .mat-select-placeholder.mat-empty.mat-form-field-empty {
    display: block !important;
}

:host ::ng-deep .mat-form-field-label-wrapper .mat-form-field-label {
    color: #2f2e2e;
    display: block;
}

:host ::ng-deep .mat-form-field.invalid .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
    border: solid 1px #B71C1C;
}

.requiredLabel {
    color: #B71C1C;
}

:host ::ng-deep .mat-form-field-infix {
    padding: 0px !important;
    border-top: none;
}

:host ::ng-deep .mat-form-field-flex {
    padding-bottom: 4px;
}

:host ::ng-deep .mat-input-input .mat-form-field-disabled .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix,
:host ::ng-deep .mat-select-disabled .mat-select-trigger {
    background-color: rgba(0, 0, 0, .12) !important;
}

:host ::ng-deep .mat-select-input {
    padding-left: 4px;
    margin-right: -3px;
}

:host ::ng-deep .mat-form-field-wrapper {
    margin-right: 1px;
    padding-bottom: 4px !important;
}