<div class="container-not-found">
    <img src="/assets/images/Page-not-found.jpg" alt="404 Page Not Found Image" />

    <div class="container-not-found-content">
        <h2>{{"The page is not found" | translate }}</h2>
        <p>
            {{"Looks like we can't find what you're looking for." | translate }} <br />
            {{"Maybe one of these links will help you." | translate }}
        </p>

        <div class="container-not-found-links">
            <a href="/">{{"Panel" | translate }}</a>
            <a href="/funds">{{"Funds" | translate }}</a>
            <a href="/subfunds">{{"Sub Funds" | translate }}</a>
            <a href="/shareclasses">{{"Share Classes" | translate }}</a>
            <a href="/allagreements">{{"Agreements" | translate }}</a>
            <a href="/reportoverview">{{"Reports" | translate }}</a>
        </div>
    </div>
</div>
<div class="footer-datagate">
    <p>
        &copy; {{cYear}} {{appFooter}}
    </p>
  </div>