$colorTheme: #005596;
h2,
h3,
h4 {
  color: black;
}

a {
  color: $colorTheme;
}

.account-input {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 5px 0;
  span {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 0.5;
  }
  input:focus + span,
  input:not(:placeholder-shown) + span {
    opacity: 1;
    transform: scale(0.75) translateY(-120%) translateX(-8px);
  }
  /* For IE Browsers*/
  input:focus + span,
  input:not(:-ms-input-placeholder) + span {
    opacity: 1;
    transform: scale(0.75) translateY(-120%) translateX(-8px);
  }
  i {
    right: 6%;
    bottom: 25%;
    cursor: pointer;
    color: #005596;
    position: absolute;
    z-index: 1;
    transform: translateY(-100%);
  }
}

.account-input-alert {
  justify-content: center;
  display: flex;
  margin: 10px 0;
  .icon-svg-warning {
    background: url("../assets/icons/exclamation-triangle-solid.svg") no-repeat
      center center;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    margin-top: 2px;
  }
}

.div-legal-text {
  overflow-y: scroll;
  height: 300px;
}

.submit-button {
  position: relative;
  width: 55%;
  padding: 6px 0;
  font-size: 16px;
  color: currentColor;
  background: transparent;
  border: 2px solid #005596;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  transition: 0.6s;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      hsla(204, 70%, 53%, 0.5),
      transparent
    );
    transform: translateX(-100%);
    transition: 0.6s;
  }
  &:hover {
    box-shadow: 0 0 20px 10px hsla(204, 70%, 53%, 0.5);
  }
  @media (max-width: 599px) {
    width: 100%;
  }
}

.submit-button-container {
  margin: 15px 0;
  width: 100%;
}

/*
*
* ==========================================
* NAVBAR
* ==========================================
*
*/

.text-white {
  color: #fff !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.mx-auto {
  margin: 0 auto;
}

.w-50 {
  width: 50% !important;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.justify-content-center {
  justify-content: center !important;
}

.w-75 {
  width: 75% !important;
}

.d-inline {
  display: inline !important;
}

.header-datagate {
    top: 0;
    z-index: 1;
    position: fixed;
    width: 100%;
    background: rgb(1, 35, 63);
    height: 60px;
    display: flex;
  
    .logo {
      margin: 0.5rem;
    }
  }
  
  .header-nav-menu {
    display: flex;
    align-items: center;
    color: #fff;
  
    a {
      text-transform: uppercase;
      color: white;
      margin: 0 5px;
  
    }
  
    a:hover {
      color: rgb(163, 214, 255);
    }
  }

.img-home-redirect {
  max-width: 50px;
  margin-left: 10px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.header-datagate-app-navbar a {
  margin-top: 2%;
  color: white;
  text-decoration: none;
}

.responsive-navbar {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.responsive-menu .responsive-menu-user {
  width: 0px;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  right: -10%;
  top: 100%;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.responsive-menu.open .responsive-menu-user {
  width: 180px;
  opacity: 1;
  visibility: visible;
  right: 0%;
}

.menu-user-container {
  width: 180px;
  ul {
    background: #222;
    float: right;
    width: 100%;
    height: auto;
    border-top: 1px solid #333;
    li {
      float: right;
      width: 100%;
      height: auto;
      border-bottom: 1px solid #333;
      a {
        float: right;
        width: 100%;
        height: 41px;
        padding: 10px 17px 12px 15px;
        position: relative;
        font-size: 15px;
        line-height: 19px;
        color: #fff;
        text-decoration: none;
        text-align: right;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }
}

.navbar a:hover,
.sidenav-dropdown-btn:hover,
.menu-user-container ul li a:hover {
  color: #0056b3;
}

.header-datagate-app-navbar a:hover {
  color: rgb(163, 214, 255);
}

.responsive-menu .open-responsive-menu::before {
  content: "";
  cursor: pointer;
  background: url(../assets/icons/bars-solid.svg) no-repeat center center;
  background-position-x: center;
  background-position-y: center;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  right: 1%;
  bottom: 22%;
  position: absolute;
  opacity: 1;
  width: 32px;
  height: 32px;
}

.responsive-menu .open-responsive-menu::after {
  content: "";
  cursor: pointer;
  background: url(../assets/icons/times-solid.svg) no-repeat center center;
  background-position-x: center;
  background-position-y: center;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  right: -2.5%;
  bottom: 22%;
  position: absolute;
  opacity: 0;
  width: 32px;
  height: 32px;
}

.responsive-menu.open .open-responsive-menu:before {
  opacity: 0;
  right: -2.5%;
}

.responsive-menu.open .open-responsive-menu:after {
  opacity: 1;
  right: 1%;
}

.wrapper-language-bar {
  margin-left: 110px !important;
}

.wrapper-language-bar a {
  color: white;
}

.wrapper-language-bar img {
  width: 30px;
  height: 30px;
  margin-left: 6px;
  margin-top: -4px;
  vertical-align: middle;
}

/*
*
* ==========================================
* Notification Styling
* ==========================================
*
*/

.badge-notification-container {
  margin: 10px 15px 0 0;
  position: relative;
  .badge {
    background: url("../assets/icons/bell-regular.svg") no-repeat center center;
    background-position-x: center;
    background-position-y: center;
    width: 27px;
    height: 27px;
    cursor: pointer;
  }
}

.badge {
  position: relative;
}

.badge-clicked {
  filter: invert(50%) sepia(20%) saturate(6550%) hue-rotate(177deg)
    brightness(80%);
}

.display-count[data-count] {
  &:after {
    content: attr(data-count);
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 1.6em;
    background: red;
    color: white;
    width: 18px;
    height: 18px;
    text-align: center;
    padding: 3px 1px 0px 0px;
    border-radius: 50%;
    box-shadow: 0 0 1px #333;
  }
}

.notification-list {
  width: 0px;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 42px;
  right: 0;
  background-color: rgb(211, 211, 211);
}

.badge-notification-container.open {
  .notification-list {
    width: 300px;
    opacity: 1;
    visibility: visible;
  }
}

.unread {
  color: black;
}

.notification-card {
  border-top: 1px solid #333;
  padding: 10px;
  &:hover {
    background-color: rgb(226, 226, 230);
  }
  a {
    text-decoration: none;
    color: inherit;
    text-transform: inherit;
  }
}

.notification-content {
  display: flex;
  justify-content: space-between;
  p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
  }
}

.notification-footer {
  p {
    font-size: 12px;
    margin-bottom: 0;
  }
}

.read {
  color: inherit;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: rgb(0, 65, 118);
  border-radius: 50%;
  display: inline-block;
  transform: translateY(-215%);
  cursor: pointer;
  // float: right;
}

.notification-list-header {
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  p {
    margin-bottom: 0;
  }
  svg {
    width: 11px;
    margin: 0 4px;
  }
}

.mark-all-read {
  display: flex;
  cursor: pointer;
  p {
    font-size: 10px;
    margin-bottom: 0;
  }
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-center {
  text-align: center !important;
}

.main-title {
  text-align: center !important;
  font-size: 25px !important;
}

h2 {
  font-size: 25px;
}

h4 {
  font-size: 24px;
}

h1,
h3 {
  text-align: center;
}

a {
  text-decoration: none;
}

.btn-datagate {
  color: #fff;
  background-color: #004176;
  font-size: 12px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  padding: 7px 7px 3px;
  text-transform: uppercase;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-primary {
  color: #fff;
  background-color: #004176;
  border-color: #004176;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-danger {
  font-size: 14px;
  font-weight: bold;
}
