@import url("https://use.fontawesome.com/releases/v5.15.3/css/all.css");
@import '~ngx-toastr/toastr';
html {
    position: relative;
    height: 100%;
}

body {
    font-family: BLK Fort, Arial, sans-serif;
    font-size: 16px;
    height: auto;
    line-height: 1.6;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: #646464;
    background-color: #fff;
    overflow-y: scroll;
    font: inherit;
}

.text-danger {
    color: #dc3545!important;
}

.w-100 {
    width: 100%!important;
}

.mt-1,
.my-1 {
    margin-top: .25rem!important;
}

.mb-0,
.my-0 {
    margin-bottom: 0!important;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.h-100 {
    height: 100%!important;
}

.vertical {
    border-left: 1px ridge;
    margin-top: 4px;
}

.ml-3,
.mx-3 {
    margin-left: 1rem!important;
}

.mr-3,
.mx-3 {
    margin-right: 1rem!important;
}

.mb-1,
.my-1 {
    margin-bottom: .25rem!important;
}

.ml-4,
.mx-4 {
    margin-left: 1.5rem!important;
}

h2 {
    font-size: 25px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}


/*
* ==========================================
* BUTTONS
* ==========================================
*/

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn {
    padding: 7px 7px 3px;
}

.btn-group-sm>.btn,
.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button;
}


/*
*
* ==========================================
* SCROLLBAR
* ==========================================
*
*/

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 59, 120, 1)), to(#909090));
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
}

.back-to-top {
    cursor: pointer;
    display: none;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 60px;
    right: 50px;
    z-index: 800;
    background-color: rgb(0, 65, 118);
    border: 1px solid #c7c7c7;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s
}

.back-to-top .icon-svg.arrow-up {
    background: url(/assets/icons/arrow-up-solid.svg) no-repeat center center;
    width: 26px;
    height: 26px;
    margin: 6px 0px 0px 6px;
}

.back-to-top:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.d-none {
    display: none!important;
}

.title-responsive {
    line-height: 2.2;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

@import "reset-css.scss";
@import "settings/breakpoints.scss";
@import "layout.scss";
@import "typography.scss";
@import "search.scss";
@import "mediaQuery.scss";
@import "_card.scss";