$mat-arc-primary: (
  50 : #e1e1e9,
    100 : #b4b3c9,
    200 : #8280a5,
    300 : #504d80,
    400 : #2b2765,
    500 : #05014a,
    600 : #040143,
    700 : #04013a,
    800 : #030132,
    900 : #010022,
    A100 : #5e5eff,
    A200 : #2b2bff,
    A400 : #0000f7,
    A700 : #0000de,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$mat-arc-accent: (
  50 : #e6eaeb,
  100 : #c1cacc,
  200 : #97a7ab,
  300 : #6d8389,
  400 : #4e696f,
  500 : #2f4e56,
  600 : #2a474f,
  700 : #233d45,
  800 : #1d353c,
  900 : #12252b,
  A100 : #6cd5ff,
  A200 : #39c6ff,
  A400 : #06b8ff,
  A700 : #00a8eb,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #ffffff,
  )
);

$mat-arc-warn: (
  50: #f9e0e0,
  100: #f0b3b3,
  200: #e68080,
  300: #db4d4d,
  400: #d42626,
  500: #cc0000,
  600: #c70000,
  700: #c00000,
  800: #b90000,
  900: #ad0000,
  A100: #ffd7d7,
  A200: #ffa4a4,
  A400: #ff7171,
  A700: #ff5858,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);