.container-all-funds {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.title-main {
    width: 7%;
    text-align: center;
    margin-left: 115px;
    white-space: nowrap;
    h2 {
        font-weight: 400;
    }
}