$fontSizeOthers: 1em;
$colorBlack: black;
$colorWhite: white;
$colorTheme: #005596;
$colorThemeHover: #004176;
.forgot-password-text-container {
    @media (max-width: 599px) {
        text-align: center;
    }
}

.forgot-password-text {
    text-decoration: underline;
    font-weight: bolder;
    font-size: $fontSizeOthers;
    margin-left: 3px;
    transition: all 0.3s ease-in-out;
    &:hover {
        color: #004176;
    }
}

.login-title {
    margin-bottom: 20px;
    color: $colorTheme;
}
