<div fxLayoutAlign="center center" class="container">
    <div style="position: relative;">
        <ngx-spinner></ngx-spinner>
    </div>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <mat-card fxLayout="column" style="min-width: 300px;">
            <span class="card-title primary-color" style="margin-bottom: 15px;">SignUp</span>
            <div fxLayout="column" fxLayoutGap="15px">
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="userName" placeholder="username" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="passwordHash" type="password" placeholder="password" required>
                    <mat-error *ngIf="signUpForm.controls.passwordHash.errors && !signUpForm.controls.passwordHash.errors.required">
                        Password must contain both uppercase & lowercase letter, digits, non-alphanumeric charecters, min length 6
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Confirm password</mat-label>
                    <input matInput formControlName="confirmPassword" type="password" placeholder="confirm password" required>
                    <mat-error *ngIf="signUpForm.controls.confirmPassword.errors">Please type the same password</mat-error>
                </mat-form-field>
            </div>
            <div class="full-width" fxLayout="column" fxLayoutGap="10px">
                <button mat-raised-button color="primary" class="full-width">SignUp</button>
                <span>Allready a member? <span class="primary-color cursor-pointer"
                        (click)="navigate()">Login</span></span>
            </div>
        </mat-card>
    </form>
</div>
