:host ::ng-deep .mat-form-field {
    width: 100%;
}

:host ::ng-deep .mat-form-field-underline {
    background-color: transparent;
    margin-bottom: -6px;
    /* background-image: none; */
    display: none;
}

:host ::ng-deep .mat-form-field-underline .mat-form-field-ripple {
    width: 98%;
    height: 2px;
    margin-left: 4px;
    margin-top: 6px;
    background-color: #34579c !important;
}

 :host ::ng-deep .mat-form-field-prefix {
    width: 34%;
    color: #264686;
    font-weight: normal;
    font-family: "Arial" !important;
    font-size: 0.9em;
    padding-right: 4px;
    text-align: right;
}

@media (max-width:1200px) {
     :host ::ng-deep .mat-form-field-prefix {
        font-size: 0.821em !important;
        width: 42%;
    }
}

 :host ::ng-deep .mat-input-element {
    width: 98% !important;
    height: 16px;
    display: block;
    margin-top: -2px !important;
    color: #2f2e2e
}

 :host ::ng-deep .mat-input-input,
.mat-input-div {
    width: 100%;
}

:host ::ng-deep .mat-input-input mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
    border: solid 1px #c3c1c1;
    border-radius: 3px 3px;
    padding-left: 5px;
    margin-left: 4px;
    background-color: #f8f8f8;
}


/* table .mat-input-input mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
    margin-left: 0px;
    background-color: #f50d0d !important;
} */

:host ::ng-deep .mat-input-input .mat-form-field-disabled .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
    background-color: rgba(0, 0, 0, .12);
}

:host ::ng-deep .mat-form-field.invalid .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
    border: solid 1px #B71C1C;
}

:host ::ng-deep .mat-form-field-infix {
    height: 25px;
}

.requiredLabel {
    color: #B71C1C;
}

:host ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 4px !important;
}

:host ::ng-deep .mat-form-field-suffix.mat-form-field-suffix {
    position: absolute;
    right: 10%;
    top: 24%;
    font-size: 10px;
    color: black;
}