@import "~@angular/material/theming";
@import "./theme-pallet.scss";

@include mat-core();

$mat-theme-primary: mat-palette($mat-arc-primary);
$mat-theme-accent: mat-palette($mat-arc-accent);
$mat-theme-warn: mat-palette($mat-arc-warn);

$custom-theme: mat-light-theme(
  $mat-theme-primary,
  $mat-theme-accent,
  $mat-theme-warn
);

@include angular-material-theme($custom-theme);


$primary: map-get($custom-theme, primary );
$accent: map-get($custom-theme, accent );
$warn:map-get($custom-theme, warn );

.primary-color{
  color: mat-color($primary,default);
}

.primary-background{
    background-color: mat-color($primary,default);
}

.accent-color{
  color: mat-color($accent,default);
}

.warn-color{
  color: mat-color($warn, default);
}