
:host ::ng-deep .mat-form-field {
    width: 100%;
}

:host ::ng-deep .mat-form-field-underline {
    background-color: transparent;
    margin-bottom: -6px;
    /* background-image: none; */
    display: none;
}

:host ::ng-deep .mat-form-field-prefix {
    width: 34%;
    color: #264686;
    font-weight: normal;
    font-family: "Arial" !important;
    font-size: 0.9em;
    padding-right: 4px;
    text-align: right;
}

@media (max-width:1200px) {
     :host ::ng-deep .mat-form-field-prefix {
        font-size: 0.821em !important;
        width: 42%;
    }
}

:host ::ng-deep .mat-input-element {
    width: 100% !important;
    /* height: 18px; */
    display: block;
    padding: 0px;
    /* margin-top: 0px !important; */
    color: #2f2e2e;
}

:host ::ng-deep .mat-input-input,
.mat-input-div {
    width: 100%;
}

:host ::ng-deep .mat-input-input mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
    border: solid 1px #c3c1c1;
    border-radius: 3px 3px;
    padding-left: 5px;
    margin-left: 4px;
    background-color: #f8f8f8;
}

:host ::ng-deep .mat-input-input .mat-form-field-disabled .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
    background-color: rgba(0, 0, 0, .12);
}

:host ::ng-deep .mat-input-input .mat-form-field.invalid .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
    border: solid 1px #B71C1C;
}

:host ::ng-deep .mat-form-field-infix {
    height: 100%;
}

.requiredLabel {
    color: #B71C1C;
}

:host ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 4px !important;
}

:host ::ng-deep .mat-form-field-disabled .mat-input-wrapper .mat-input-flex .mat-input-infix {
    background-color: rgba(0, 0, 0, .12) !important;
}

:host ::ng-deep .mat-form-field-disabled .mat-input-wrapper .mat-input-flex .mat-input-infix {
    background-color: rgba(0, 0, 0, .12) !important;
}

:host ::ng-deep .mat-form-field-subscript-wrapper {
    overflow: visible !important;
}

:host ::ng-deep .mat-hint { 
    margin-top: -7px;
    margin-right: 10px;
    background-color: #fafafa;
    padding-left: 5px;
}

:host ::ng-deep .mat-form-field-disabled .mat-hint { 
    background-color: #cdcece;
}

:host ::ng-deep  .mat-input-input {
    padding: 2px 0 !important;
    margin: -2px 0 !important;
}

:host ::ng-deep  textarea {
    resize: vertical !important;
}


