<h2 class="login-brand">{{'DataGate' | translate}}</h2>
<h2 class="login-title">{{'Forgot Password' | translate}}</h2>

<div class="login-form">
    <form #forgotPasswordForm="ngForm" (ngSubmit)="onSubmit(forgotPasswordForm)">
        <mat-card-content>
            <div class="row">
                <div class="col-md-12">
                    <ui-input-text required labelWidth="0%" placeholder="{{ 'Enter your e-mail' | translate}}">
                    </ui-input-text>
                </div>
                <div class="col-md-12" style="text-align: end;">
                    <mat-card-footer>
                        <mat-card-actions class="mat-card-button-login">
                            <button mat-raised-button type="submit" class="login-button mat-primary">
                {{'Reset' | translate}}
              </button>
                        </mat-card-actions>
                    </mat-card-footer>
                </div>
            </div>
        </mat-card-content>
    </form>
</div>
