<h3 class="account-title">{{'Forgot Password' | translate}}</h3>

<div>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div>
            <div>
                <label class="account-input">
                    <input type="text" required placeholder=" " formControlName="email">
                    <span>{{ 'Enter your e-mail' | translate}}</span>
                </label>
                <div *ngIf="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.errors?.required" class="account-input-alert">
                    <span class="icon-svg-warning"></span>
                    <span class="text-danger field-validation-error">
                    <span>Email required</span>
                    </span>
                </div>
                <div *ngIf="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.errors?.email" class="account-input-alert">
                    <span class="icon-svg-warning"></span>
                    <span class="text-danger field-validation-error">
                  <span>Email format is not correct</span>
                    </span>
                </div>
            </div>
            <div>
                <div class="submit-button-container">
                    <button type="submit" class="submit-button">
                        {{'Reset' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
