<h3 class="account-title">{{'Forgot Password' | translate}}</h3>

<div>
    <form #forgotPasswordForm="ngForm" (ngSubmit)="onSubmit(forgotPasswordForm)">
        <div>
            <div>
                <label class="account-input">
                    <input type="text" required placeholder=" ">
                    <span>{{ 'Enter your e-mail' | translate}}</span>
                </label>
            </div>
            <div>
                <div class="submit-button-container"> 
                    <button type="submit" class="submit-button">
                        {{'Reset' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>