<section class="identity-layout">
    <div class="identity-layout-container">
        <!-- Cookie Consent   -->
        <div *ngIf="showConsent" id="cookieConsent" role="alert">
            {{'We use cookies to understand how you use our site and improve your experience.' | translate}}
            <a [routerLink]="['/cookie']">{{'Learn More' | translate}}</a>
            <button type="button" data-dismiss="alert" aria-label="Close" (click)="acceptCookies()">
                <span aria-hidden="true">{{'Accept' | translate}}</span>
            </button>
        </div>

        <!-- Main Body   -->

        <div class="identity-content-container">
            <div class="identity-content">
                <div class="identity-redirect-language">
                    <div>
                        <a (click)="navigateToHome()">
                            <img src="/assets/images/Logo_Pharus_small.jpg" alt="DataGate" />
                        </a>
                    </div>
                    <div class="wrapper-language-bar" (click)="changeLanguage()">
                        {{'Language' | translate}}
                        <img [src]="flag" alt="Current Culture Flag Language">
                    </div>
                </div>

                <ng-template [ngIf]="!showErrorPage">
                    <h2 class="brand">{{'DataGate' | translate}}</h2>
                    <router-outlet></router-outlet>
                </ng-template>
            </div>

            <div class="extra-space-container"></div>
            <div class="right-img-container">
                <img src="/assets/images/Chi-Siamo-Lux.jpg" class="right-img" alt="DataGate Luxembourg" />
            </div>
        </div>

        <!-- Footer   -->
        <div class="identity-footer-container">
            <div class="identity-footer-legal">
                <div>
                    <a [routerLink]="['/privacy']" routerLinkActive="router-link-active">{{"Privacy Policy" | translate}}</a> |
                    <a [routerLink]="['/cookie']" routerLinkActive="router-link-active">{{"Cookie Policy"| translate}}</a> |
                    <a [routerLink]="['/conditions']" routerLinkActive="router-link-active">{{"Conditions Of Use" | translate}}</a>
                </div>
                <div>
                    <p>
                        &copy; {{currentYear}} {{"AppFooter" | translate}}
                    </p>
                </div>
            </div>
            <div class="identity-footer-social-icons">
                <div>
                    <a href="https://www.linkedin.com/company/pharus-management-lux-sa/about/" target="_blank">
                        <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                    </a>
                </div>
                <div>
                    <a href="#">
                        <i class="fab fa-twitter" aria-hidden="true"></i>
                    </a>
                </div>
                <div>
                    <a href="#">
                        <i class="fab fa-youtube" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
