.top {
    background: #e9e9e9;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    border: 1px solid #ddd;
    height: 40px;
}

.cross,
.search {
    position: relative;
    right: -216px;
    top: -37px;
    color: #004176;
}

table {
    width: 100%;
}

.example-container {
    max-height: 600px;
    max-width: 100%;
    max-height: 600px;
    overflow: auto;
}

::ng-deep .mat-sort-header-container {
    justify-content: center !important;
}

.mat-table {
    white-space: nowrap;
}

td,
th {
    text-align: center !important;
    vertical-align: middle !important;
}

.mat-sort-header-container {
    justify-content: center !important;
}

::ng-deep .mat-sort-header-content {
    margin-left: 15px !important;
}

.mat-header-cell {
    box-sizing: content-box;
    padding: .75rem;
    border-bottom: 1px solid #111;
    vertical-align: bottom;
    font-size: 13px;
    min-width: 80px;
    text-align: center;
    background-color: #004176;
    color: #fff !important;
    border-right: 2px solid #dee2e6;
    cursor: pointer;
    font-weight: bold;
    z-index: 0 !important;
}

.mat-cell {
    box-sizing: content-box;
    padding: .75rem;
    border-top: 2px solid #dee2e6;
    font-size: 13px;
    text-align: center;
}

.td-name {
    min-width: 410px;
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

.mat-row:hover {
    background-color: #0041760d !important;
}

::ng-deep .mat-icon-button {
    width: 30px !important;
    height: 30px !important;
    line-height: 28px !important;
    background-color: #004176;
    color: white;
    margin-left: 10px !important;
}

::ng-deep .mat-button-disabled {
    background-color: #6c94b5 !important
}

.bottom {
    background: #e9e9e9;
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    border: 1px solid #ddd;
    height: 60px;
    .mat-paginator {
        background-color: #e9e9e9;
    }
}

::ng-deep mat-option:last-child:before {
    content: 'All';
}

 ::ng-deep mat-option:last-child .mat-option-text {
    display: none;
}

.inactive-entity {
    opacity: 0.5;
}