::ng-deep .cdk-overlay-pane {
    width: 500px !important;
}

h2 {
    color: #004176;
    text-align: start;
    border-bottom: 1px solid #0056b3;
}

p {
    margin: 10px 0;
    background: #f0f8ff;
}

.modal-footer {
    margin-top: 28px;
    .modal-footer-content {
        display: flex;
        justify-content: space-between;
    }
    span {
        text-align: end;
    }
    button {
        cursor: pointer;
        display: inline-block;
        font-weight: 400;
        vertical-align: middle;
        background-color: #6c757d;
        border: 1px solid transparent;
        color: white;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
}