<header>
    <div class="header-datagate">
        <div class="w-50">
            <div class="d-flex">
                <div class="logo">
                    <a href="/">
                        <img src="assets/images/Logo_Pharus_small.jpg" class="img-home-redirect" alt="@GlobalConstants.AppName">
                    </a>
                </div>

                <div class="header-nav-menu mobile-none">
                    <div>
                        <a [routerLink]="['/funds']">
                            {{ "Fund Library" | translate }}
                        </a> |
                    </div>
                    <div>
                        <a [routerLink]="['/subfunds']">
                            {{ "Sub Fund Library" | translate }}
                        </a> |
                    </div>
                    <div>
                        <a [routerLink]="['/shareclasses']">
                            {{ "Share Class Library" | translate }}
                        </a> |
                    </div>
                    <div>
                        <a [routerLink]="['/allagreements']">{{ "Agreements Library" | translate}}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-50 d-flex responsive-navbar">

            <form id="load-notification-form" method="get"></form>
            <div class="badge-notification-container" [ngClass]="{open: showNotification == true}">
                <a id="notification-badge" class="badge" data-count="" (click)="loadNotifications()">
                </a>
                <div class="notification-list" id="user-notifications">
                    <app-notifications [notifications]="notifications"></app-notifications>
                </div>
            </div>

            <div class="search-form-wrapper-responsive" #searchMenuParent>
                <button class="open-search-box" (click)="toggleSearchMenu()">
                    <svg class="icon-svg-search-responsive" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                    </svg>
                </button>

                <div class="search-form-wrapper d-none" #searchMenu>
                    <form class="w-100" (submit)="searchResult(searchTermMobile.value)">
                        <div class="search-box-responsive">
                            <input type="search" #searchTermMobile name="searchTermMobile" placeholder="{{ 'Find a Share Class...' | translate }}" autocomplete="off" autocorrect="off" autocapitalize="off" required />

                            <button type="submit" class="search" title="Search">
                                <svg class="icon-svg-search" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="search-box-wrapper">
                <form (submit)="searchResult(searchTerm.value)">
                    <div class="search-box">
                        <input type="search" required #searchTerm name="searchTerm" placeholder="{{ 'Find a Share Class...' | translate }}" autocomplete="off" autocorrect="off" autocapitalize="off" required />

                        <button type="submit" class="search" title="Search">
                            <svg class="icon-svg-search" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                            </svg>
                        </button>
                    </div>
                </form>
            </div>

            <div class="responsive-menu ml-5" #menu (click)="toggleUserMenu()">
                <a class="open-responsive-menu">
                </a>
                <div class="responsive-menu-user">
                    <div class="menu-user-container">
                        <ul>
                            <li>
                                <a [routerLink]="['/userpanel']" routerLinkActive="router-link-active">
                                    {{"Panel" | translate }}
                                </a>
                            </li>
                            <li *ngIf="notGuest">
                                <a [routerLink]="['/profile']" routerLinkActive="router-link-active">{{username}}</a>
                            </li>
                            <li class="wrapper-language-bar" (click)="changeLanguage()">
                                <a class="no-link">{{"Language"| translate}}
                                  <img [src]="flag" alt="Current Culture Flag Language">
                                </a>
                            </li>

                            <li>
                                <a data-toggle="modal" (click)="openAbout()">
                                    About
                                </a>
                            </li>

                            <li>
                                <a (click)="logout()">{{"Logout" | translate}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>